* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  width: 90%;
  margin: 10px auto;
}
.contents {
  text-align: center;
  width: 100%;
  height: 100%;
}
.content {
  display: inline-block;
  margin-left: 10px;
  background-color: white;
  border-radius: 20px;
  width: 30%;
}

.head-text h2 {
  display: inline-block;
  text-align: start;
  margin-right: 50px;
}
.head-text .downloads {
  display: inline-block;
}
.info .head-text span {
  text-align: end;
}
.info {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  text-align: start;
}
.content .photo1,
.content .photo2,
.content .photo3 {
  width: 100%;
  height: 50vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.content .photo1 {
  background: url(/assets/images/Juicy-Web-Design-Trends-For-Restaurant-Menu-Pages.jpg)
    left/cover no-repeat;
}
.content .photo2 {
  background: url(images/website-menu-design-3.webp) left/cover no-repeat;
}
.content .photo3 {
  background: url(images/website-menu-design.jpeg) right/cover no-repeat;
}
.links {
  text-align: center;
  margin: 20px auto;
  height: 100%;
  width: 100%;
}
.links a {
  color: white;
  background-color: rgb(55, 82, 219);
  padding: 10px 15px;
  border-radius: 5px;

  text-decoration: none;
}
.links i {
  margin-right: 10px;
}
.links .green-btn {
  background-color: rgb(86, 194, 43);
  width: 100%;
}

.contents .content .info .head-text h2:first-child {
  color: rgb(55, 82, 219);
}
.info {
  padding-left: 10px;
}

.info .head-text h2 {
  margin-bottom: 20px;
}
